table {
  width: 100%;
  border-collapse: collapse; /* Ensures borders don't double up */
  border-radius: 15px;
  border-color: #EF626C;
  text-align: center;
}

.tableRound {
border-radius: 30px;
padding: 10px;
background-color: #EF626C;

}
th, td {
  border: 1px solid #EF626C !important; 
  padding: 8px;
  text-align: center;
  border-radius: 15px;
  
}

th {
  background-color: #EF626C; /* Light gray background for headers */
  color: #F8F8FF;
  border-color: #EF626C;
  border-radius: 15px;
}

.personCellTop {
  border-left: 2px solid #EF626C !important; 
  border-right: 2px solid #EF626C !important; 
  border-top: 2px solid #EF626C !important; 
}

.personCellMiddle {
  border-left: 2px solid #EF626C !important; 
  border-right: 2px solid #EF626C !important; 
}

.personCellBottom {
  border-left: 2px solid #EF626C !important; 
  border-right: 2px solid #EF626C !important; 
  border-bottom: 2px solid #EF626C !important; 
}

.main-content {
  width: 100vw; /* Ensure full viewport width */
  height: 100vh; /* Ensure full viewport height */
  padding: 2rem;
  box-sizing: border-box;
  display: block; /* Use block layout for full width */
}

.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
}

.modal {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}